html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* {
	min-width: 1028px;
	min-height: 100%;
	
}*/
#quiz {
	display: none;
}

#results {
	display: none;
}

.container {
	margin-top: 100px;
	background-color: maroon;
	border-color: red;
	border: 5px;
	width: 60%;
}

h1, h2 {
	text-align: center;
}

h1, h2 {
	background-color: maroon;
	color: white;
}

button {
	background-color: crimson;
	border: round;
	border-color: white;
	margin: 0 auto;
	margin-bottom: 20px;
}

p {
	color: white;
}

label {
	color: white;
}